@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  background: #17171a;
  font-family: 'Poppins';
  overflow-x: hidden;
}

.title {
  position: relative;
  width: 179px;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 36px;
  background: linear-gradient(91.26deg, #72F6D1 0%, #07E57D 21.87%, #A0ED8D 55.73%, #FED365 81.77%, #FAA49E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*horizontal navbar css*/

.horizontalnav {
  list-style-type: none;
  overflow: hidden;
  margin-left: 161px;
  margin-top: -65px;
}

.horizontalnav li {
  float: left;
}

.horizontalnav li a {
  padding: 83px;
  text-decoration: none;
  font-weight: 500;
  font-family: 'Poppins';
  font-size: 19px;
  color: #FFFFFF;
}

.bellsvg {
  float: right;
  margin-top: -48px;
  margin-right: 120px;
}

.profilesvg {
  float: right;
  margin-top: -48px;
  margin-right: 40px;
}


/* vertical nav */
nav {
  position: fixed;
  top: 125px;
  left: 0;
  height: 55px;
  width: 180px;
  display: flex;
  background: #20222B;
  border-radius: 0 5px 0 0;
}

nav .logo {
  display: flex;
  align-items: center;
  margin: 0 21px;
}

.logo .menu-icon {
  color: #FEBF32;
  font-size: 30px;
  margin-right: 14px;
}

.logo .logo-name {
  font-weight: 500;
  font-family: 'Poppins';
  font-size: 20px;
  color: #FFFFFF
}

.line1 {
  border-top: 1px solid #FEBF32;
  ;
  width: 180px;
  position: absolute;
  margin-top: 55px;
}

nav .sidebar {
  position: absolute;
  top: 58px;
  height: 408px;
  width: 180px;
  border-radius: 0 0 5px 0;
  background-color: #20222B;

}

.sidebar-content .list {
  list-style: none;
  padding: 38px 16px;
  cursor: pointer;
}

.sidebar .sidebar-content {
  padding: 0px;
  margin-top: -60px
}

.list .icon {
  position: absolute;
  color: #ABAFC4;
  font-size: 10px;
  left: 20px;
  margin-top: 26px;
}

.list .link {
  font-weight: 455;
  font-family: 'Poppins';
  font-size: 20px;
  color: #ABAFC4;
  padding: 28px;
  position: absolute;
}

.lists .link:hover .icon,
.lists .link:hover {
  color: #fff;
}

/* Balance card */
.card {
  background: #07C86B;
  display: flex;
  width: 314px;
  height: 190px;
  border-radius: 15px;
  margin-left: 280px;
  margin-top: 55px;

}

.ellipse1 {
  position: absolute;
  box-sizing: border-box;
  width: 155px;
  height: 110px;
  top: 200px;
  opacity: 1.5;
  border: 0px solid #FEBF32;
}

.ellipse2 {
  box-sizing: border-box;
  position: absolute;
  width: 143px;
  height: 102px;
  left: 459px;
  top: 125px;
  opacity: 1.5;
  border: 0px solid #FEBF32;
}

.icon3 {
  color: #FFFFFF;
  font-size: 50px;
  position: absolute;
  left: 535px;
  top: 145px;
}

h4 {
  position: absolute;
  color: #FFFFFF;
  top: 125px;
  left: 300px;
}

.info .icon2 {
  position: absolute;
  color: #FFFFFF;
  top: 175px;
  left: 293px;
  font-size: 30px;
  font-weight: 600;
}

.cardbutton {
  display: inline-block;
  margin: 3px;
  /* space between buttons */
  text-decoration: none;
  background: #FEBF32;
  padding: 5px;
  width: 119px;
  height: 28px;
  border-radius: 6px;
  margin-top: 140px;
  margin-left: 18px;
  text-align: center;
  color: black;

  font-weight: 466;
  font-family: 'Poppins';
  font-size: 15px;
  cursor: pointer;

}

/*-------------------trasaction table-----------------*/
.transaction {
  position: relative;
  top: 20px;
  bottom: 0;
  display: flex;
  left: 280px;
}

.payment {
  position: relative;
  color: #FFFFFF;
}

.view-all {
  position: absolute;
  left: 500px;
  color: #FFFFFF;
  text-align: center;
  top: 19%;
  font-size: 8px;
  padding-bottom: 106px;
}

.transaction>.payment>div {
  display: flex;
  margin-bottom: 15px;
  gap: 10px;
  font-size: 10px;
}

.transaction>.payment>div>h5 {
  position: absolute;
  display: flex;
  margin-left: 36px;
  margin-top: 37px;
  font-size: 11px;
  color: gray;
}

.icon6 {
  position: relative;
  top: 8px;
}

.transaction>.view-all>div {
  margin-bottom: 26px;
}

.transaction>.view-all>.viewAll {
  color: #FEBF32;
  position: absolute;
  top: -74px;
  margin-left: -298px;
  font-size: 15px;
}

/*-------------------Add-Money-----------------*/
.addmoney {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  top: 105px;
  position: absolute;
  left: 890px;
}

.moneycard {
  width: 60%;
  height: 364px;
  border-radius: 7px;
  padding: 20px;
  border: 3px solid #2A2D3C;
  color: white;
}

.cardtitle {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.input {
  position: relative;
}

#inputbox {
  width: 92%;
  background: none;
  padding: 8px;
  color: #2A2D3C;
  border-radius: 5px;
  height: 44px;
  font-size: 16px;
  font-weight: 400;
  border: 3px solid #2A2D3C;
}

.inp-label {
  color: #2A2D3C;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 14px;
}

#inputbox:focus+.inp-label,
#inputbox:valid+.inp-label {
  top: 20%;
}

.amounts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 30px;
}

.tabs {
  background: #2a2d3c;
  padding: 7px;
  color: #febf32;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: relative;
}

.tabs.popular::after {
  content: "Popular";
  position: absolute;
  top: -1.3rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: bold;
  width: fit-content;
  color: transparent;
  background: linear-gradient(91.26deg, #72F6D1 0%, #07E57D 21.87%, #A0ED8D 55.73%, #FED365 81.77%, #FAA49E 100%);
  -webkit-background-clip: text;
}

.tabs:hover,
.tabs.active {
  color: 2A2D3C;
  background: #0db263;
}

.send-money-container {
  display: flex;
  gap: 1em;
  align-items: center;
  width: 93%;
  border-radius: 5px;
  background: #514615;
  padding-left: 20px;
}

.send-money-details {
  display: flex;
  flex-direction: column;
}

.sub-details {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 4rem;
  font-size: 14px;
  color: #a5a8b9;
  padding-bottom: 20px;
}

.know-more {
  color: #FEBF32;
}

.send-money-details p {
  font-weight: 500;
  font-size: 16px;
}

.btnPopup {
  margin-top: 1rem;
  width: 100%;
  color: black;
  font-size: 18px;
  font-weight: 500;
  background: #0db263;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #0db263;
  cursor: pointer;
  font-family: 'Poppins';
}

/*-------------------modal-----------------*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  background-color: #2A2D3C;
  margin: auto;
  padding: 20px;
  width: 25%;
  box-shadow: 0px 0px 10.6941px rgba(0, 0, 0, 0.5);
  border-radius: 11.8824px;
}

.close {
  color: #FFFFFF;
  float: right;
  font-size: 28px;
}

.close:hover,
.close:focus {
  color: #febf32;
  text-decoration: none;
  cursor: pointer;
}

.PopHeading {
  font-size: 14px;
  color: #CCCDCC;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.01em;
}

.cost {
  font-size: 26px;
  font-weight: bold;
}

.lastButton {
  margin-top: 10px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.popupbuttons {
  font-family: 'Poppins', sans-serif;
  background: #FEBF32;
  border: #FEBF32;
  border-radius: 5px;
  padding: 10px;
  width: 90px;
  margin: 3px;
  font-weight: 556;
}

.sendersdetail {
  border: solid 1px #ABAFC4;
  border-radius: 10px;
  font-size: 13px;
  padding: 2px 10px;
}

.receiver {
  color: #ecae03;
  font-weight: bold;
}

.receiver2 {
  font-size: 16px;
  font-weight: bold;
}

.greenbox {
  height: 60px;
  background-color: #3e5b48;
  margin-top: 10px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 0px;
}

.snricon {
  float: right;
  position: absolute;
  margin-left: 300px;
  margin-bottom: 50px;
}

.icon5 {
  float: left;
  position: absolute;
  padding: 8px;
  margin-left: 0px;
}

.copyicon {
  position: absolute;
  margin-left: 230px;
  top: 621px;
}

.text1 {
  margin-left: 50px;
  padding-top: 7px;
}